body {
    font-family: Arial, sans-serif;
    background-color: rgb(232, 235, 225);
}
form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #080808; /* Set your desired background color here */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}


